* {
  background-color: rgb(4, 13, 18);
}

.App {
  text-align: center;
}

.ulHolder {
  display: flex !important;
  justify-content: right !important;
}

nav, .navDiv, Link, li, a, span, .ulHolder {
  background-color:rgb(24, 61, 61) !important;
}



