* {
  background-color: rgb(27, 66, 66);
  font-family: "Montserrat", sans-serif;
}

.App {
  text-align: center;
}

.ulHolder {
  display: flex !important;
  justify-content: right !important;
}

.footer {
  min-width: 100% !important;
  margin: 0 !important;
  margin-top: 7% !important;
  padding: 4% !important;
  color: white;
}

.footer p {
  text-align: center !important;
}

Link, a, .footer, .footer p {
  background-color:rgb(39, 78, 78) !important;
}

.card {
  height: 500px !important;
}

h1 {
  text-align: center;
  color: #fff;
  text-shadow:
    0 0 2px #fff,
    0 0 5px rgb(49, 92, 92),
    0 0 8px rgb(25, 224, 224);
}

.card h6.card-header, .card-footer {
  color: rgb(155, 192, 178) !important;
}

.card h6.card-header:hover, .card-footer:hover {
  color: rgb(204, 223, 216) !important;
}

.card-header{
  background-color: rgb(41, 73, 73) !important;
  height: 18% !important;
}

.card-title {
  height: 25% !important;
}

.card-body, .card-title, .card-text, .list-group li{
  background-color: rgb(159, 201, 185) !important;
}

.card-title {
  font-weight: bolder !important;
  color:rgb(7, 37, 53) !important;
}
