* {
  font-family: "Montserrat", sans-serif;
}
body {
	background-color: rgb(42, 77, 77);
}

.App {
  text-align: center;
}

nav {
  background-color: rgb(10, 29, 29) !important;
  padding: 0px !important;
}


.ulHolder {
  display: flex !important;
  justify-content: right !important;
}

.footer {
  min-width: 100% !important;
  margin: 0 !important;
  margin-top: 7% !important;
  padding: 4% !important;
  color: white;
}

.footer p {
  text-align: center !important;
}

Link, .card-footer, .footer, .footer p {
  background-color:rgb(40, 85, 85) !important;
}

.card {
  height: 500px !important;
}

h1 {
  text-align: center;
  color: #fff;
  text-shadow:
    0 0 2px #fff,
    0 0 5px rgb(49, 92, 92),
    0 0 8px rgb(25, 224, 224);
}

.card h6.card-header, .card-footer {
  color: rgb(155, 192, 178) !important;
}

.card h6.card-header:hover, .card-footer:hover {
  color: rgb(204, 223, 216) !important;
}

.card-header{
  background-color: rgb(41, 73, 73) !important;
  height: 18% !important;
}

.card-title {
  height: 25% !important;
}

.card-body, .card-title, .card-text, .list-group li{
  background-color: rgb(159, 201, 185) !important;
}

.card-title {
  font-weight: bolder !important;
  color:rgb(10, 41, 58) !important;
}
